	<!-- JavaScript at bottom except for Modernizr -->
	<script src="<?php echo $this->Html->url('/developer/'); ?>js/libs/modernizr.custom.js"></script>
	
	<!-- JavaScript at the bottom for fast page loading -->

	<!-- Scripts -->
	<script src="<?php echo $this->Html->url('/developer/'); ?>js/libs/jquery-1.10.2.min.js"></script>
	