	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Babel</title>
	<meta name="description" content="">
	<meta name="author" content="">

	
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">

	
	<meta name="viewport" content="user-scalable=0, initial-scale=1.0, target-densitydpi=115">