	<!-- Main content -->
	<section role="main" id="main">

		<noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>

		<hgroup id="main-title" class="thin">
			<h1>Dashboard</h1>
			<h2>nov <strong>10</strong></h2>
		</hgroup>

		

		<div class="with-padding">

			<div class="columns">

				<div class="twelve-columns twelve-columns-tablet">

					<h3 class="thin underline">Fields list</h3>

					<table class="table responsive-table" id="sorting-example1">

						<thead>
							<tr>
								<th scope="col"><input type="checkbox" name="check-all" id="check-all" value="1"></th>
								<th scope="col">Text</th>
								<th scope="col" width="15%" class="align-center hide-on-mobile">Date</th>
								<th scope="col" width="15%" class="align-center hide-on-mobile-portrait">Status</th>
								<th scope="col" width="15%" class="hide-on-tablet">Tags</th>
								<th scope="col" width="100" class="align-right">Actions</th>
							</tr>
						</thead>

						<tfoot>
							<tr>
								<td colspan="6">
									6 entries found
									<div class="float-right">
										<div class="button-group">
											<a href="#" title="First page" class="button blue-gradient glossy"><span class="icon-previous"></span></a>
											<a href="#" title="Previous page" class="button blue-gradient glossy"><span class="icon-backward"></span></a>
										</div>

										<div class="button-group">
											<a href="#" title="Page 1" class="button blue-gradient glossy">1</a>
											<a href="#" title="Page 2" class="button blue-gradient glossy active">2</a>
											<a href="#" title="Page 3" class="button blue-gradient glossy">3</a>
											<a href="#" title="Page 4" class="button blue-gradient glossy">4</a>
										</div>

										<div class="button-group">
											<a href="#" title="Next page" class="button blue-gradient glossy"><span class="icon-forward"></span></a>
											<a href="#" title="Last page" class="button blue-gradient glossy"><span class="icon-next"></span></a>
										</div>
									</div>
								</td>
							</tr>
						</tfoot>

						<tbody>
							<tr>
								<th scope="row" class="checkbox-cell"><input type="checkbox" name="checked[]" id="check-1" value="1"></th>
								<td>John Doe</td>
								<td>Jul 5, 2011</td>
								<td>Enabled</td>
								<td><small class="tag">User</small> <small class="tag">Client</small> <small class="tag green-bg">Valid</small></td>
								<td class="low-padding">
									<span class="select compact full-width" tabindex="0">
										<a href="#" class="select-value">Edit</a>
										<span class="select-arrow"></span>
										<span class="drop-down">
											<a href="#">Put offline</a>
											<a href="#">Review</a>
											<a href="#">Put to trash</a>
											<a href="#">Delete</a>
										</span>
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row" class="checkbox-cell"><input type="checkbox" name="checked[]" id="check-2" value="2"></th>
								<td>John Appleseed</td>
								<td>Jul 5, 2011</td>
								<td>Enabled</td>
								<td><small class="tag orange-bg">Non-verified</small></td>
								<td class="low-padding">
									<span class="select compact full-width" tabindex="0">
										<a href="#" class="select-value">Edit</a>
										<span class="select-arrow"></span>
										<span class="drop-down">
											<a href="#">Put offline</a>
											<a href="#">Review</a>
											<a href="#">Put to trash</a>
											<a href="#">Delete</a>
										</span>
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row" class="checkbox-cell"><input type="checkbox" name="checked[]" id="check-3" value="3"></th>
								<td>Sheldon Cooper</td>
								<td>Jul 4, 2011</td>
								<td>Enabled</td>
								<td><small class="tag">User</small> <small class="tag green-bg">Valid</small></td>
								<td class="low-padding">
									<span class="select compact full-width" tabindex="0">
										<a href="#" class="select-value">Edit</a>
										<span class="select-arrow"></span>
										<span class="drop-down">
											<a href="#">Put offline</a>
											<a href="#">Review</a>
											<a href="#">Put to trash</a>
											<a href="#">Delete</a>
										</span>
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row" class="checkbox-cell"><input type="checkbox" name="checked[]" id="check-4" value="4"></th>
								<td>Rage Guy</td>
								<td>Jun 25, 2011</td>
								<td>Enabled</td>
								<td><small class="tag red-bg">Fake</small></td>
								<td class="low-padding">
									<span class="select compact full-width" tabindex="0">
										<a href="#" class="select-value">Edit</a>
										<span class="select-arrow"></span>
										<span class="drop-down">
											<a href="#">Put offline</a>
											<a href="#">Review</a>
											<a href="#">Put to trash</a>
											<a href="#">Delete</a>
										</span>
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row" class="checkbox-cell"><input type="checkbox" name="checked[]" id="check-5" value="5"></th>
								<td>Thomas A. Anderson</td>
								<td>Jun 16, 2011</td>
								<td>Enabled</td>
								<td><small class="tag">User</small> <small class="tag">Client</small> <small class="tag green-bg">Valid</small></td>
								<td class="low-padding">
									<span class="select compact full-width" tabindex="0">
										<a href="#" class="select-value">Edit</a>
										<span class="select-arrow"></span>
										<span class="drop-down">
											<a href="#">Put offline</a>
											<a href="#">Review</a>
											<a href="#">Put to trash</a>
											<a href="#">Delete</a>
										</span>
									</span>
								</td>
							</tr>
							<tr>
								<th scope="row" class="checkbox-cell"><input type="checkbox" name="checked[]" id="check-6" value="6"></th>
								<td>Jane Doe</td>
								<td>May 19, 2011</td>
								<td>Enabled</td>
								<td><small class="tag">User</small> <small class="tag">Client</small></td>
								<td class="low-padding">
									<span class="select compact full-width" tabindex="0">
										<a href="#" class="select-value">Edit</a>
										<span class="select-arrow"></span>
										<span class="drop-down">
											<a href="#">Put offline</a>
											<a href="#">Review</a>
											<a href="#">Put to trash</a>
											<a href="#">Delete</a>
										</span>
									</span>
								</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>

		</div>

	</section>
	<!-- End main content -->