	<!-- Main content -->
	<section role="main" id="main">

		<noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>

		<hgroup id="main-title" class="thin">
			<h1><?php echo __('Users'); ?></h1>
			<h2><?php echo date('M'); ?> <strong><?php echo date('d'); ?></strong></h2>
		</hgroup>

		

		<div class="with-padding">

			<div class="columns">

				<div class="twelve-columns twelve-columns-tablet">

					<h3 class="thin underline"><?php echo __('View User'); ?></h3>

					<table class="table responsive-table" id="sorting-example1">

						<tbody>
								<tr>
		<th scope="col" class="align-center"><?php echo __('Username'); ?></th>
		<td>
			<?php echo h($user['User']['username']); ?>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th scope="col" class="align-center"><?php echo __('Grupo'); ?></th>
		<td>
			<?php echo $this->Html->link($user['Grupo']['nombre'], array('controller' => 'grupos', 'action' => 'view', $user['Grupo']['id'])); ?>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th scope="col" class="align-center"><?php echo __('Departamento'); ?></th>
		<td>
			<?php echo $this->Html->link($user['Departamento']['nombre'], array('controller' => 'departamentos', 'action' => 'view', $user['Departamento']['id'])); ?>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th scope="col" class="align-center"><?php echo __('Password'); ?></th>
		<td>
			<?php echo h($user['User']['password']); ?>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th scope="col" class="align-center"><?php echo __('Nombres'); ?></th>
		<td>
			<?php echo h($user['User']['nombres']); ?>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th scope="col" class="align-center"><?php echo __('Apellidos'); ?></th>
		<td>
			<?php echo h($user['User']['apellidos']); ?>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th scope="col" class="align-center"><?php echo __('Email'); ?></th>
		<td>
			<?php echo h($user['User']['email']); ?>
			&nbsp;
		</td>
	</tr>
	<tr>
		<th scope="col" class="align-center"><?php echo __('Telefono'); ?></th>
		<td>
			<?php echo h($user['User']['telefono']); ?>
			&nbsp;
		</td>
	</tr>
						</tbody>

					</table>
				</div>
			</div>

		</div>

	</section>
	<!-- End main content -->