	<!-- Main content -->
	<section role="main" id="main">

		<noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>

		<hgroup id="main-title" class="thin">
			<h1><?php echo __('Edificios'); ?></h1>
			<h2><?php echo date('M'); ?> <strong><?php echo date('d'); ?></strong></h2>
		</hgroup>

		

		<div class="with-padding">

			<div class="columns">

				<div class="twelve-columns twelve-columns-tablet">

					<h3 class="thin underline"><?php echo __('Add Edificio'); ?></h3>

					<fieldset class="fieldset fields-list">
									<?php echo $this->Form->create('Edificio',array('class'=>'FormObli','action' => 'crear')); ?>
						<legend class="legend">Ingrese los campos </legend>
							<div class="field-block button-height">
								<label for="login" class="label"><b>Nombre Edificio</b></label>
								<?php
									echo $this->Form->input('nombre',array('class'=>'input full-width Obli','label'=>false,'div'=>false));
								?>
							</div>
												
							<div class="field-block button-height">
								<label for="login" class="label"><b>Descripcion</b></label>
								<?php
									echo $this->Form->input('descripcion',array('class'=>'input full-width Obli','label'=>false,'div'=>false));
								?>
							</div>
							<div class="field-block button-height">
								<label for="login" class="label"><b>Numero Pisos</b></label>
								<?php
									echo $this->Form->input('numero_pisos',array('class'=>'input full-width Obli','label'=>false,'div'=>false));
								?>
							</div>
							<div class="field-block button-height">
								<label for="login" class="label"><b>Departamentos por Piso</b></label>
								<?php
									echo $this->Form->input('departamentos_por_piso',array('class'=>'input full-width Obli','label'=>false,'div'=>false));
								?>
							</div>
							<div class="field-block button-height">
								<label for="login" class="label"><b>Tipo de Numeracion</b></label>
								<?php
									echo $this->Form->input('numeration',array('class'=>'input full-width Obli','options'=>array('Letras','Numeros'),'label'=>false,'div'=>false));
								?>
							</div>
						<div class="field-block button-height">

							<button type="submit" class="button glossy mid-margin-right">
								<span class="button-icon"><span class="icon-tick"></span></span>
								Guardar
							</button>

							<button type="submit" class="button glossy back-button">
								<span class="button-icon red-gradient"><span class="icon-cross-round"></span></span>
								Cancelar
							</button>

						</div>
									<?php echo $this->Form->end(); ?>
					</fieldset>

				</div>
			</div>

		</div>

	</section>
	<!-- End main content -->
<script type="text/javascript" language="javascript">
	$(function(){
		$('.back-button').click(function(){
			history.back(); return false;
		});
		$('.FormObli').submit(function(){
			var enviar=1;
			$(".FormObli .Obli ").each( function() {			
				if ($.trim($(this).val()) ==''){
					//mostrar error
					$(this).css( "border-color", "#ff0039" );
					$(this).focus();
					// $.jGrowl('Debes ingresar un valor', { position: 'bottom-right',life: 8000 } );
					notify('Campo Obligatorio', 'Debes ingresar un valor', {
						system: true,
						vPos: 'bottom',
						showCloseOnHover: false
					});
					
					enviar=0;
					return false;
				}else{
					$(this).css( "border-color", "#bbbbbb" );
				}
			});
			
			if(enviar==0)return false;
			
		});
	});
</script>
